@use 'grid';
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 16px;
}

* {
    font-family: 'Anybody', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    
    & > header, & > footer {
        background-color: hotpink;
        color: white;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
}


main {
    flex-grow: 1;
    margin: 50px;
}

.projets-holder {
    display: grid;
    grid-template-areas: 
        "tuile1 tuile2 tuile3"
        "tuile4 tuile2 tuile5"
        "tuile6 tuile6 tuile5";
    grid-auto-rows: 1fr;
    justify-content: center;

    & > div {
        max-width: 200px;
        border: 1px solid black;
        border-radius: 30px;
        padding: 30px;

        button {
            background-color: black;
            border: none;
            color: white;
            cursor: pointer;
            padding: 10px;
            display: block;
            margin: 0 auto;
            transition: all 0.3s ease-in-out;

            &:hover, &:focus {
                background-color: hotpink;
                color: black;
            }
        }
    }

    img {
        width: 100%;
    }
}

.modale-holder {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    box-sizing: border-box;

    header {
        display: flex;
        justify-content: space-between;

        button {
            background-color: black;
            border: none;
            color: white;
            cursor: pointer;
            padding: 10px;
            display: block;
            transition: all 0.3s ease-in-out;

            &:hover, &:focus {
                background-color: hotpink;
                color: black;
            }
        }
    }

    .modale-contenu {
        gap: 50px;

        img {
            width: 40%;
        }

        ul {
            list-style-type: none;
            display: flex;

            li {
                &:before {
                    content: "\00a0";
                }

                &:not(:last-child) {
                    &:after {
                        content: " /";
                    }
                }

                a {
                    transition: all 0.3s ease-in-out;
                    position: relative;
                    text-decoration: none;
                    padding: 0 5px;
                    display: inline-block;
                    height: 100%;
    
                    &:after {
                        background-color: black;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 1px;
                        width: 100%;
                        transition: all 0.5s ease-in-out;
                        z-index: -1;
                    }
    
                    &:link, &:visited {
                        color: black;
                    }
                    
                    &:hover, &:focus {
                        color: white;
                        text-decoration: none;
    
                        &:after {
                            height: 100%;
                        }
                    }
    
                    > i {
                        margin-left: 10px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.flex {
    display: flex;

    &.flex-column {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.gap-10 {
        gap: 10px;
    }
}

.hidden {
    display: none;
}